@import '../../src/styles/style';

.seamless-ecommerce{
    padding-top: 67px;
    padding-bottom: 60px;
    
    @media #{$device_992_1199} {
        padding-top: 47px;
        padding-bottom: 40px;
    }
    @media #{$device_0_575} {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    
    .section-title{
        h2{
            font-size: calc(34px + (38 - 34) * ((100vw - 320px) / (1920 - 320))); 
            line-height: 1.26; 
        }
    }
    
    .seamless-image-area{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        max-width: 963px;
        width: 100%;
        margin: 0 auto;
        
        @media #{$device_0_575} {
            flex-flow: column;
        }
        
        .seamless-image{
            img{
                box-shadow: 0 2px 7px rgba(40, 44, 71, 0.24);
                border-radius: 8px
            }
            
            &.img1{
                padding-right: 15px;
                
                @media #{$device_0_575} {
                    padding-right: 0;
                    margin-bottom: 30px;
                }
            }
            &.img2{
                padding-left: 15px;
                
                @media #{$device_0_575} {
                    padding-left: 0;
                }
            }
        }
    }
}