@import '../../src/styles/variables';
@import '../../src/styles/extend-style';

.seamless-ecommerce{
    padding-top: 30px;
    padding-bottom: 40px;
    
    @media #{$device_992_1199} {
        padding-top: 47px;
        padding-bottom: 40px;
    }
    @media #{$device_0_575} {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .seamless-ecommerce{
        padding: 0;
    }
    
    .overlay{
        height: 100%;
        border-radius: 4px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5fcfc));
        background-image: -webkit-linear-gradient(top, #ffffff 0%, #f5fcfc 100%);
        background-image: linear-gradient(180deg, #ffffff 0%, #f5fcfc 100%);
        overflow: hidden;
        
        @media #{$device_992_1199} {
            height: 680px;
        }
        @media #{$device_768_991} {
            height: 600px;
        }
        
        &:before{
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0;
            width: 100%;
            height: 410px;
            border-bottom: 410px solid #fff;
            border-left: 2700px solid transparent;
        }
    }
    
    .section-title{
        h2{
            font-size: calc(34px + (38 - 34) * ((100vw - 320px) / (1920 - 320))); 
            line-height: 1.26; 
        }

        p {
            font-size: 18px;
        }
    }
    
    .seamless-image-area{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        max-width: 963px;
        width: 100%;
        margin: 0 auto;
        
        @media #{$device_0_575} {
            flex-flow: column;
        }
        
        .seamless-image{
            overflow: hidden;
            
            img{
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
                border-radius: 8px;
                @include transitions(all 4s linear);
            }
            
            &.img1{
                padding: 15px;
                
                @media #{$device_0_575} {
                    padding-right: 0;
                    margin-bottom: 30px;
                }
            }
            &.img2{
                padding: 15px;
                
                @media #{$device_0_575} {
                    padding-left: 0;
                }
            }
        }
    }
}