@import '../../src/styles/variables';
@import '../../src/styles/extend-style';

.bottom-cta{
    padding-top: 90px;
    padding-bottom: 124px;
    background-color: #0b253c;
    
    @media #{$device_992_1199} {
        padding-top: 30px;
        padding-bottom: 110px;
    }
    @media #{$device_768_991} {
        padding-bottom: 90px;
    }
    @media #{$device_0_575} {
        padding-bottom: 60px;
    }

    .bottom-cta{
        padding: 0;
    }
    
    .section-title{
        max-width: 614px;
        
        h2{
            color: #fff;
        }
        p{
            color: #bdc3d3;
            
            span.underline{
                color: #fff;
            }
        }
    }

     
    .cta-contact-form{
        .single-input{
            position: relative;
            
            @media #{$device_768_991} {
                margin-bottom: 15px;
            }
            
            label{
                position: absolute;
                top: calc(50% + 1px);
                left: 20px;
                @include transforms(translateY(-50%));
                color: #525f7f;
                font-family: $poppins;
                font-size: 15px;
                font-weight: 400;
                cursor: text;
                
                span{
                    color: #e1454d;
                }
            }
            input{
                width: 100%;
            }
            .btn-default{
                width: 100%;
                cursor: pointer;
                @extend .transition-3s;
                
                &:hover{
                    background: #24d6d8;
                }
            }
        }
    }
}