@import '../../src/styles/style';


//---- extra style is here------
.case-study{
    background-color: #0b253c;
    padding-top: 10px;
    padding-bottom: 33px;
    
    .case-study-wrapper{
        background: #fff; 
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        
        @media #{$device_768_991} {
            display: block;
        }
        
        .case-study-img{
            width: 50%;
            padding-right: 25px;
            
            @media #{$device_768_991} {
                width: 100%;
                padding-right: 0;
            }
            
            img{
                width: 100%;
            }
        }
        .case-study-content{
            padding-left: 25px;
            width: 50%;
            
            @media #{$device_768_991} {
                width: 100%;
                padding: 20px 20px 25px;
            }

            .small-title{
                position: relative;
                color: $primary-color;
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                padding-left: 65px;
                margin-bottom: 20px;
                display: inline-block;

                &:before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 13px;
                    width: 50px;
                    height: 2px;
                    background: $primary-color;
                }
            }

            h2{
                margin-bottom: 83px;
                
                @media #{$device_768_991} {
                    margin-bottom: 43px;
                }
            }
        }
    }
        
}