@import '../../src/styles/variables';
@import '../../src/styles/extend-style';

.supplier-profiles-reach{
    padding-top: 78px;
    padding-bottom: 70px;
    
    @media #{$device_992_1199} {
        padding-top: 53px;
        padding-bottom: 60px;
    }
    @media #{$device_768_991} {
        padding-top: 33px;
        padding-bottom: 30px;
    }
    
    .supplier-profiles-reach{
        padding: 0;
    }

    .section-title{
        max-width: 750px;
        margin: 0 auto;
    }
    
    .customer-profiling-image,
    .customer-profiling-content{
        @media #{$device_768_991} {
            text-align: center;
        }
    }
    .unique-reach-content,
    .customer-profiling-content{
        .section-title{
           max-width: 100%;    
            
            h3{
                margin-bottom: 26px;
            }
            p{
                color: #1d1f2c;
                line-height: 26px;
            }
        }
    }
    
    .unique-reach {
        margin-top: 60px;
        
        @media #{$device_768_991} {
            flex-flow: column-reverse;
        }
        
        .unique-reach-image {
            @media #{$device_768_991} {
                text-align: center
            }
            @media #{$device_0_575} {
                width: 100%;
                height: auto;
                border-radius: 0;
                padding: 14px;
                border-radius: 10px;
            }
            
            img{
                display: block;
                margin: 0 auto;
            }
        }
        
        .unique-reach-content{
            padding-right: 90px;
            
            @media #{$device_768_991} {
                text-align: center;
                padding-right: 0;
            }
            
            .section-title {
                padding-bottom: 35px;
            }
            
            ul.vertical-line-wrapper {
                display: inline-flex;
                
                @media #{$device_768_991} {
                    text-align: left;
                }
                
                li {
                    padding: 5px 20px 8px 20px;
                    font-size: 16px;
                    margin-left: 25px;
                    margin-bottom: 5px;
                    @extend .transition-3s;

                    &.active{                    
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
                    }
                }
            }
        }
    }
}
