/*-------retail-ecommerce (this is common style with supplier page)---
---------------------------------------------------------*/
.retail-ecommerce{
    padding-top: 50px;
    overflow: hidden;
    padding-bottom: 90px;
    
    @media #{$device_992_1199} {
        padding-bottom: 70px;
    }
    @media #{$device_768_991} {
        padding-top: 30px;
    }
    @media #{$device_0_575} {
        padding-bottom: 50px
    }
    
    .section-title{
        h2{
            font-size: calc(32px + (37 - 32) * ((100vw - 320px) / (1920 - 320))); 
            line-height: 1.26; 
        }
        
    }
    
    .retailer-content{
        padding-right: 60px;
        
        @media #{$device_768_991} {
            padding-right: 0;
            margin-bottom: 40px;
        }
        
        h5{
            font-weight: 500;
            margin-bottom: 26px;
        }
        p{
            line-height: 32px;
        }
        
        .separator{
            width: 85px;
            height: 2px;
            display: block;
            background: $primary-color;
            margin: 15px 0 23px;
        }
        .newsletterForm{
            h6{
                color: #1d1f2c;
                font-family: $roboto;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                margin-bottom: 20px;
            }
        }
    }
    .retailer-image{
        .lines-accent{
            position: absolute;
            left: -90px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 0;
            
            @media #{$device_768_991} {
                display: none;
            }
        }
        
        & > img{
            border-radius: 7px;
            z-index: 1;
            position: relative;
            box-shadow: -20px 32px 54px rgba(0, 0, 0, 0.15);
            
            @media #{$device_768_991} {
                box-shadow: -20px 12px 54px rgba(0, 0, 0, 0.15);
            }
            @media #{$device_0_575} {
                box-shadow: -20px 14px 34px rgba(0, 0, 0, 0.15);
            }
        }
        
    }
}


/*-------vertical-line-wrapper---
---------------------------------------------------------*/
ul.vertical-line-wrapper{
    border-left: 2px solid #d6eeee;
    position: relative;
    display: flex;
    flex-flow: column;

    .vertical-line {
        position: absolute;
        width: 2px;
        background: $primary-color;
        height: 46px;
        left: -2px;
        top: 0;
        transition:all 0.4s ease;
    }

    li{
        padding: 10px 0 10px 55px;
        color: $body-font-color;
        font-family: $trasandina;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        display: inline-block;
        cursor: pointer;
        margin-bottom: 10px;

        @media #{$device_992_1199} {
            padding: 10px 0 10px 35px;
            line-height: 26px;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}


/*-------newsletter form---
---------------------------------------------------------*/
.newsletter-form{
    width: 560px;
    margin: 0 auto 70px;
    
    @media #{$device_576_767} {
        width: 500px;
    }
    @media #{$device_0_575} {
        width: 100%;
    }
    
    form{
        position: relative;
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 100%;
        
        @media #{$device_0_575} {
            display: block;
        }
        
        .input-wrapper{
            width: calc(100% - 180px);

            @media #{$device_0_575} {
                width: 100%;
            }
            
            .fa-envelope{
                position: absolute;
                top: 50%;
                left: 23px;
                @include transforms(translateY(-50%));

                path{
                    fill: #9ca4b7;
                }
            }
        }
        
        input{
            color: #525f7f;
            font-family: $roboto;
            font-size: 15px;
            font-weight: 400;
            padding: 0 20px 0 50px;
            height: 54px;
            width: 100%;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
            
        }
        .btn-default{
            width: 170px;
            margin-left: 10px;
            letter-spacing: 0.5px;
            cursor: pointer;
            box-shadow: 0 5px 16px rgba(0, 30, 76, 0.16);
            
            @media #{$device_0_575} {
                margin: 15px auto 0;
            }
            
            svg{
                width: 14px;
                height: 14px;
                position: absolute;
                top: 50%;
                margin-top: -7px;
                right: 15px;
                @extend .transition-3s;
                
                path{
                    fill: #fff;
                }
            }
            
            &:hover svg{
                right: 0;
                opacity: 0;
                visibility: hidden;
            }
            
        }
    }
}





