div.retailer-newsletter-form{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
    h6{
        font-weight: 500;
        color: #1d1f2c;
        margin-bottom: 15px;
    }
    form {
        display: block;
        .input-wrapper {
            width: 100%;
        }
        .btn-default {
            width: 100%;
            margin-left: 0;
            margin-top: 10px;
        }
    }
}
div.retail-ecommerce {
    padding-top: 50px;
    padding-bottom: 50px;
    .section-title{
        h1{
            font-size: calc(32px + (37 - 32) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.26;
            text-transform: capitalize;
            font-weight: 500;
            margin-bottom: 23px;
        }
        p {
            font-size: 20px; 
        }
    }
    .retailer-content {
        p {
            font-weight: 400;
        }
    }
}
