@import '../../src/styles/variables';
@import '../../src/styles/extend-style';

.feature{
    padding-top: 50px;
    padding-bottom: 75px;
    position: relative;
    
    @media #{$device_992_1199} {
        padding-bottom: 50px;
    }
    @media #{$device_768_991} {
    }
    @media #{$device_0_575} {
        padding-bottom: 30px;
    }
    
    .section-title{
        max-width: 390px;
        
        @media #{$device_768_991} {
            max-width: 100%;
            text-align: center;
        }
        
        p{
            line-height: 26px;
            color: $body-font-color;
        }
    }
    
    .feature-list-image{
        position: absolute;
        right: 0;
        top: 250px;
        overflow: hidden;
        padding-right: 150px;
        
        @media #{$device_1400_1599} {
            padding-right: 0;
        }
        @media #{$device_1200_1399} {
            max-width: 665px;
        }
        @media #{$device_992_1199} {
            max-width: 585px;
        }
        @media #{$device_768_991} {
            display: none;
        }
    }
    
    .hovered-image-wrapper{
        position: absolute;
        right: 100px;
        z-index: 2;
        bottom: 170px;
        max-width: 870px;
        text-align: center;
        width: 100%;
        
        @media #{$device_1400_1599} {
            right: 80px;
            max-width: 700px;
        }
        @media #{$device_1200_1399} {
            max-width: 580px;
        }
        @media #{$device_992_1199} {
            max-width: 480px;
            right: 40px;
        }
        @media #{$device_768_991} {
            position: relative;
            bottom: inherit;
            right: inherit;
            margin: 40px auto 0;
            display: block;
            max-width: 100%;
            padding: 0 15px;
        }
        
        .feature-list-hovered-image{
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    
    
    .feature-content{
        
        @media #{$device_768_991} {
            max-width: 320px;
            margin: 0 auto;
        }
        
        .show-more{
            color: $primary-color;
            font-family: $roboto;
            font-size: 14px;
            font-weight: 500;
            line-height: 26px;
            text-transform: capitalize;
            margin-left: 57px;
            margin-top: 23px;
            display: inline-block;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}