@import '../../src/styles/variables';
@import '../../src/styles/extend-style';

.drive-sales{
    padding-top: 75px;
    
    @media #{$device_992_1199} {
        padding-top: 45px;
    }
    @media #{$device_768_991} {
        padding-top: 45px;
    }
    @media #{$device_576_767} {
    }

    .drive-sales {
        padding: 0;
    }
    
    .overlay{
        background-color: #0b253c;
        top: inherit;
        height: calc(100% - 80px);
        bottom: 0;
        overflow: hidden;
        
        @media #{$device_min_2000} {
            height: calc(100% - 147px);
        }
        
        &:before{
            content: "";
            position: absolute;
            left: 0px;
            top: 0;
            width: 100%;
            height: 290px;
            border-top: 290px solid #fff;
            border-right: 2700px solid transparent;
        }
    }
    
    .section-title{
        padding-bottom: 36px;
        
        @media #{$device_768_991} {
            padding-bottom: 0;
        }
    }
    .row > div[class^="col-"]{
        margin-bottom: 30px;
    }
    .single-drive{
        display: flex;
        flex-flow: row;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
        border-radius: 4px;
        background-color: #ffffff;
        padding: 30px 55px 30px 30px;
        height: 100%;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        position: relative;
        
        @media #{$device_768_991} {
            padding: 30px;
        }
        @media #{$device_0_575} {
            display: block;
            padding: 20px;
        }
        
        &:before {
            content: '';
            position: absolute;
            border: 6px solid transparent;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 5px;
            -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
        }
        &:hover:before {
            -webkit-animation-name: ripple-out;
            animation-name: ripple-out;
        }
        
        .icon{
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            
            &.icon1{
                background-color: #8fe5e1;
            }
            &.icon2{
                background-color: #c3efca;
            }
            &.icon3{
                background-color: #b4c5fb;
            }
            &.icon4{
                background-color: #f6c2f2;
            }
            
            img{
                position: relative;
                top: 10px;
            }
        }
        .drive-content{
            width: calc(100% - 60px);
            padding-left: 30px;
            
            @media #{$device_0_575} {
                width: 100%;
                padding-left: 0;
                margin-top: 20px;
            }
            
            h4{
                font-weight: 500;
                margin-bottom: 22px;
                
                @media #{$device_768_991} {
                    margin-bottom: 15px;
                }
            }

            p {
                font-weight: 400;
            }
        }
    }
}

/* Ripple Out */
@-webkit-keyframes ripple-out {
    0% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        border-color: transparent;
    }
    18%{
        border-color: transparent;
        opacity: 1;
    }
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
        border-color: #e1e1e1;
    }
}

@keyframes ripple-out {
    0% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        border-color: transparent;
    }
    18%{
        border-color: transparent;
        opacity: 1;
    }
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
        border-color: #e1e1e1;
    }
}
