@import '../../src/styles/variables';
@import '../../src/styles/extend-style';

//---- extra style is here------

.single-post {
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.05);
    margin-bottom: 80px;
    background: #fff;
    .single-post-featured-img {
        a {
            display: block;

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
    }

    .single-post-content {
        padding: 70px 30px 30px;
        max-width: 780px;
        margin: 0 auto;

        .post-header {
           h1 {
                font-size: 4.8rem;
                line-height: 1.2;
           }
        }

        .post-meta {
            padding-top: 2px;
            margin-left: 0;
            li {
                display: inline;
                padding-right: 30px;
                padding-left: 30px;
                font-size: 13px;

                &:first-child  {  
                    padding-left: 0;
                }
            }
        }

        a.read-more {
            color: #1FC1C3;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-top: 25px;
            display: inline-block;
        }
    }
}